{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
    <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_v1yudlrx.json" background="transparent" speed="1" loop autoplay data-aos="slide-right" style="width: min(96vw, 125rem); margin:auto;" data-aos="fade-in"></lottie-player>
    
    <h1>Who Are We?</h1>
    <div></div>
</section>
<section>
    <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_v1yudlrx.json" background="transparent" speed="1" loop autoplay data-aos="slide-right" style="width: min(96vw, 125rem); margin:auto;" data-aos="fade-in"></lottie-player>

    <h1>Who Are We?</h1>
    <div></div>
</section>
{% endblock %}
