{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AAA</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}
"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/css/themes/splide-skyblue.min.css">

<body >
    <div id="loading"  id="particles-js">
        <lottie-player src="{% static 'loading.json' %}" background="transparent"
            speed="2" style="width: 200px; height: 200px;" loop autoplay></lottie-player>
    </div>
    <header>
        <nav id="navbar">
            <a href="/" class="navLogo"><img id="navLogo" src="{% static 'img/logo.png' %}
" alt="logo"></a>
            <ul class="navUL" onScreen='false'>
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#contact">Contact us</a></li>
            </ul>
            <img id="hamburger" ham='false' src="{% static 'img/ham.svg' %}
" alt="" id="hamburger">
        </nav>
    </header>

    {% block content %}

    {% endblock %}

    <section id="contact">
        <h2>Get In Touch With Us</h2>
        <form action="/connect/message" method="post">
            <input type="text" name="first-name" id="firstName" placeholder="First Name*" required>
            <input type="text" name="last-name" id="lastName" placeholder="Last Name*" required>
            <input type="email" name="email" id="email" placeholder="Email*" required>
            <input type="number" name="Phone-number" id="number" placeholder="Phone Number*" required>
            <input type="text" name="Message" id="message" maxlength="600" placeholder="Message*" required>
            <button type="submit">Submit</button>
        </form>
    </section>

    <footer>
        <div><h3>Alfa Accounting & Advisory</h3></div>
        <div id="google_translate_element"></div>
        <iframe id="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7066.771286101594!2d85.35131330098568!3d27.674473343440887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1a1c87487f6f%3A0x83ffd992b4b2d081!2z4KSy4KWL4KSV4KSo4KWN4KSl4KSy4KWALCDgpK7gpKfgpY3gpK_gpKrgpYHgpLAg4KSg4KS_4KSu4KWAIDQ0NjAw!5e0!3m2!1sne!2snp!4v1660296499772!5m2!1sne!2snp"
            width="250" height="250" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </footer>

    <!-- js  -->

    <!-- lotiee animaition  -->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <!-- local ja  -->
    <script src="{% static 'js/main.js' %}"></script>
    <!-- google trnslator  -->
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <!-- splid.js  -->
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/js/splide.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var splide = new Splide('.splide');
            splide.mount();
        });
    </script>
    

    <script>
        window.addEventListener("load", () => {
            document.querySelector('#loading').style.display = 'none'
        })
    </script>
</body>

</html>