{% extends 'base.html' %}
{% block content %}
{% load static %}
<section id="home" class="introContainer" >
    <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_320k6p1d.json" background="transparent" speed="1" loop autoplay data-aos="slide-right"></lottie-player>

    <div class="intro" data-aos="slide-left">
        <h1>Alpha Accounting & Advisory</h1>
        <p>Helping Buiness To Grow By Providing Excellent Accounting, Tax & Advisory Services. </p>
        <a href="#contact">Submit →</a>
    </div>
    </div>
</section>

<section id="services">
    <h1 data-aos="flip-up" >OUR SERVICES</h1>
    <div>
        <div class="whatWeDo" data-aos="fade-in">
            <h2>What we do?</h2>
            <div class="workContainer">
                {% for service in services %}
                    <div onclick=" selfRedirect('/service/{{ service.id }}')" data-aos="flip-down" >
                        <img src="{% static '/img/buisness.svg' %}" loading="lazy" alt=""
                            class="illustaration" data-aos="fade-in">
                        <p data-aos="fade-in">{{ service.title }}</p>
                        <a href='/service/{{ service.id }}' data-aos="fade-in">Read →</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        
<div class="whyUs">
    <h2 id="click-to-action"><span data-aos="slide-right">Want To Start A New Project With Us?
</span>
    <a href="/#contact" style="color:aqua; text-decoration: none;" data-aos="slide-left">Let's Start!</a></h2>
    
</div>

        <div class="ourExperties">
            <h2>Our experties</h2>
            <div class="expertiesContainer">
                <div data-aos="flip-right">
                    <img src="{% static 'img/buisness.svg' %}" alt="" loading="lazy">
                    <p>Business Registration</p>
                </div>
                <div data-aos="flip-left">
                    <img src="{% static 'img/finance.svg' %}" alt="" loading="lazy">
                    <p>Accounting & Consulting</p>
                </div>
                <div data-aos="flip-right">
                    <img src="{% static 'img/revenue.svg' %}" alt="" loading="lazy">
                    <p>Chart of Accounts</p>
                </div>
                <div data-aos="flip-left">
                    <img src="{% static 'img/plan.svg' %}" alt="" loading="lazy">
                    <p>Business Plans</p>
                </div>
            </div>
        </div>
    </div>
    <div class="whyUs">
        <section class="splide" aria-label="Splide Basic HTML Example">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <div class="whyUsContent">
                            <lottie-player src="{% static 'delivery.json' %}" background="transparent" speed="1"
                                style="width: 200px; height: 200px;" loop autoplay></lottie-player>
                            <p>On Time Delivery</p>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="whyUsContent">
                            <lottie-player src="{% static 'customersatisfaction.json' %}" background="transparent" speed="1"
                                style="width: 200px; height: 200px;" loop autoplay>
                            </lottie-player>
                            <p>On Time Delivery</p>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="whyUsContent">
    
                            <lottie-player src="{% static 'money.json' %}" background="transparent" speed="1"
                                style="width: 200px; height: 200px;" loop autoplay></lottie-player>
                            <p>On Time Delivery</p>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="whyUsContent">
    
                            <lottie-player src="{% static 'quality.json' %}" background="transparent" speed="1"
                                style="width: 200px; height: 200px;" loop autoplay>
                            </lottie-player>
                            <p>On Time Delivery</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</section>



{% endblock %}